<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>PhoneBuzz</servlet-name>
		<servlet-class>com.coding.simpleTwiMLPhoneBuzz.PhoneBuzzServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PhoneBuzz</servlet-name>
		<url-pattern>/phonebuzz</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FizzBuzz</servlet-name>
		<servlet-class>com.coding.simpleTwiMLPhoneBuzz.FizzBuzzServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FizzBuzz</servlet-name>
		<url-pattern>/fizzbuzz</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PhoneDial</servlet-name>
		<servlet-class>com.coding.dialingPhoneBuzz.PhoneDialServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PhoneDial</servlet-name>
		<url-pattern>/phonedial</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DelayedPhoneBuzzServlet</servlet-name>
		<servlet-class>com.coding.delayedPhoneBuzz.DelayedPhoneBuzzServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DelayedPhoneBuzzServlet</servlet-name>
		<url-pattern>/delayedphonebuzz</url-pattern>
	</servlet-mapping>
		
	<servlet>
		<servlet-name>TrackPhoneBuzzServlet</servlet-name>
		<servlet-class>com.coding.trackingPhoneBuzz.TrackPhoneBuzzServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TrackPhoneBuzzServlet</servlet-name>
		<url-pattern>/trackphonebuzz</url-pattern>
	</servlet-mapping>
		
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
